<%- include('../partials/admin-Headers') %>
<style>
  .hello{
  background-color: rgb(72, 67, 67);
  }
  .gradient-custom {
  
      background: #ffffff;
     
      background: -webkit-linear-gradient(to top left, rgb(255, 255, 255), rgb(255, 255, 255));
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to top left, rgb(255, 255, 255), rgb(255, 255, 255))
  }
</style>
  <div class="container">
    <section class="h-100 gradient-custom">
      <div class="container hello py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10 col-xl-8">
            <div class="card border-5" style="border-radius: 10px;">
              <div class="card-header px-4 py-5"
                style="height: 100px; background-color: rgb(0, 0, 0); display: flex; align-items: center; justify-content: center;">
                <h5 style="text-align: center; color: #ffffff;" class="text-muted mb-0">Order Details <span
                    style="font-weight: bolder; font-size: 15px;"></span>!</h5>
              </div>
              <p class="small text-muted mb-0" style="margin-top: 50px; font-weight: bold;">Order Id: <%= order._id %>
              </p>

              <div class="card-body p-4">

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <p class="lead fw-normal mb-0" style="color: #ffffff;">Receipt</p>


                </div>

                <% if (order && order.items) { %>
                  <% order.items.forEach((item, index)=> { %>
                    <div class="card shadow-sm border-radius mb-4">
                      <div class="card-body">
                        <div class="row">

                          <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <img style="height: 100px;" src="/<%= item.product.photo[0] %>" class="img-fluid"
                              alt="Phone">
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            style="margin-top: 28px; font-weight: bolder;">
                            <p class="text-muted mb-0 small">Product Name: <%= item.product.name %>
                            </p>
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            style="margin-top: 28px; font-weight: bolder;">
                            <p class="text-muted mb-0 small">Product Category: <br>
                              <%= item.product.category_name %>
                            </p>
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            style="margin-top: 28px; font-weight: bolder;">
                            <p class="text-muted mb-0 small">Quantity: <%= item.quantity %>
                            </p>
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center"
                            style="margin-top: 28px; font-weight: bolder;">
                            <p class="text-muted mb-0 small">Price: $<%= item.price %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>



              </div>




              <% }) %>
                <% } %>
                  <div>
                    <h4>Order Status: <span style="font-weight: bolder;">
                        <%= order.status %>
                      </span> </h4>
                  </div>
                  <div class="container">
                    <div class="d-flex justify-content-between pt-2  " style="display: flex;">
                      <div style="width: 50%;">
                        <p class="fw-bold mb-0"
                          style="margin-top: 50px;margin-left: -18px; font-size: small;font-weight: bolder; color: black; ">
                          Order Status: <%= order.status %>
                        </p>
                      </div>
                      <div style="width: 50%; margin-top: 50px; margin-left: 320px;">
                        <p class="text-muted mb-0"><span class="fw-bold me-4"
                            style="font-weight: bold; color: black;">Total :</span> $<%= order.total %>
                        </p>
                      </div>
                    </div>


                  </div>

                  <div class="d-flex justify-content-between pt-2">

                    <div>
                      <p class="text-muted mb-0">Delivery Address Details :</p>
                      <p class="text-muted mb-0 ml-auto">

                        <br>Name:<%= address.address.address[0].name %>
                          <br>Address:<%= address.address.address[0].Address %>
                            <br>City:<%= address.address.address[0].city %>
                              <br>State:<%= address.address.address[0].state %>
                                <br>Phone number:<%= address.address.address[0].phone %>

                      </p>
                    </div>
                  </div>
                  <div class="card-footer border-0 px-4 py-5"
                    style="background-color: #000000; border-bottom-left-radius: 10px; height: 60px; display: flex; justify-content: flex-end; align-items: center;">
                    <h3 class="text-white text-uppercase mb-0" style="color: beige;">
                      Total Amount:<span class="h2 mb-0 ms-2">$<%= order.total %></span>
                    </h3>
                  </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>

  <%- include('../partials/admin-footer') %>