<%-include('../partials/user-header')%> <%-include('../partials/user-nav')%>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a class="active" href="/orderDetails">Orders</a></li>
        
        </ul>
        <div class="dashboard-wrapper user-dashboard">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Items Name</th>
                  <th>Items Quantity</th>
                  <th>Total Price</th>
                  <th>Items Photo</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>

                <% orderData.reverse().forEach(function(order,index) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= order._id %></td>
                  <td><%= order.createdAt.toLocaleDateString() %></td>

                  <td>
                    <% order.items.forEach((item, index) => { %> <%= index+1 %>.
                    <%= item.product.name %> <br />
                    <% }) %>
                  </td>
                  <td>
                    <% order.items.forEach((item) => { %> <%= item.quantity %>
                    <br />
                    <% }) %>
                  </td>
                  <td>$<%= order.total %></td>
                  <td>
                    <% order.items.forEach((item,index) =>{ %>

                    <img
                      src="<%= item.product.photo[0] %>"
                      alt=""
                      width="40px"
                      class="img-thumbnail"
                    />
                    <br />
                    <% }) %>
                  </td>

                  <td><%= order.status %></td>

                  <td><a href="/orderView/<%= order._id %>" class="btn btn-default">View</a></td>

                   <% if (order.status!=="cancelled" && order.status !=="Delivered" && order.status
                   !=="Returned" && order.status !=="Refunded Amount") { %>
                    
                  <td>
                    <a type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModal<%= order._id %>">
                    Cancel
                  </a>
                  </td>
                  <% } %>
                  <% if (order.status ==="Delivered") { %>
                    
                    <td>
                      <a type="button" class="btn btn-primary" data-toggle="modal"
                      data-target="#Return<%= order._id %>">
                      Return
                    </a>
                    </td>
                    <% } %>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<% orderData.forEach(function(order){ %>
      <div class="modal fade" id="exampleModal<%= order._id %>" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form id="cancelForm " method="POST" action="/cancel_product/<%= order._id %>">
          <div class="modal-dialog" role="document">

            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel Product</h5>
                <%= order._id %>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <label for="cancelReason">Reason for cancellation:</label>
                <textarea id="cancelReason" class="form-control" name="reason"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <% }) %>





        <% orderData.forEach(function(order){ %>
          <div class="modal fade" id="Return<%= order._id %>" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form id="return " method="POST" action="/return_product/<%= order._id %>">
              <div class="modal-dialog" role="document">

                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLab">Return Product</h5>
                    <%= order._id %>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <label for="cancelReason">Reason for Returning The Product:</label>
                    <textarea class="form-control" name="reason"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <% }) %>

<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href="https://www.facebook.com/themefisher">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/themefisher">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
					<li>
						<a href="https://www.twitter.com/themefisher">
							<i class="tf-ion-social-twitter"></i>
						</a>
					</li>
					<li>
						<a href="https://www.pinterest.com/themefisher/">
							<i class="tf-ion-social-pinterest"></i>
						</a>
					</li>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<a href="contact.html">CONTACT</a>
					</li>
					<li>
						<a href="shop.html">SHOP</a>
					</li>
					<li>
						<a href="pricing.html">Pricing</a>
					</li>
					<li>
						<a href="contact.html">PRIVACY POLICY</a>
					</li>
				</ul>
				<p class="copyright-text">Copyright &copy;2021, Designed &amp; Developed by <a href="#">Themefisher</a></p>
			</div>
		</div>
	</div>

</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> 

<%-include('../partials/user-footer')%>
