<%-include('../partials/user-header')%>
<%-include('../partials/user-nav')%>

<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Trendy Products</h2>
			</div>
		</div>
		<div class="row">
			<% product.forEach(function(product){%>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" src="<%=product.photo %>" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="/single/<%=product._id %>"><%= product.name %></a></h4>
						<p class="price"><%= product.price %></p>
						<p class="price"><%= product.category_name %></p>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</section>

<%-include('../partials/user-footer')%>