<%-include('../partials/user-header')%>
<%-include('../partials/user-nav')%>
 
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <h2 class="text-center">Update Your Profile</h2>
          <div >
            <div class="form-half" style="margin-right: 20px;">
              <form class="text-left clearfix" action="/updateProfile/<%= user._id %>" method="post" name="basic">
                <div class="form-group">
                  <input type="text" class="form-control" style="font-weight: bolder;" name="name" value="<%= user.name %>" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" style="font-weight: bolder;" name="email" value="<%= user.email %>" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" style="font-weight: bolder;" name="phone" value="<%= user.phone %>" placeholder="Phone Number">
                </div>
              
                <% if (locals.msg) { %>
                <div id="msg1" class="alert alert-danger text-center">
                  <%= msg %>
                </div>
                <% } %>
                <div class="text-center">
                  <button type="submit" class="btn btn-main text-center">Update Changes</button>
                </div>
              </form>
            </div>
            <!-- <div class="form-half" style="margin-left: 90px;">
              <form class="text-left clearfix" action="/updatePassword/<%= user._id %>" method="post" name="basic">
                <div class="form-group">
                  <input type="password" class="form-control" style="font-weight: bolder;" name="password" placeholder="Current Password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" style="font-weight: bolder;" name="newpassword" placeholder="New Password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" style="font-weight: bolder;" name="confirmpassword" placeholder="Confirm Password">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-main text-center">Update Changes</button>
                </div>
              </form>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



 <%-include('../partials/user-footer')%>